<div class="container fadein animation-duration-500">
    <mat-card cdkDrag cdkDragBoundary=".router-container">
<mat-card-header class="headline">
    <h1>Imprint</h1>
</mat-card-header>

<mat-card-content class="imprint-text">
    <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
    <p>Roman Bartholemy<br />
    Brodmannstra&szlig;e 18<br />
    84543 Winh&ouml;ring</p>
    
    <h2>Kontakt</h2>
    <p>Telefon: +49 1522 6590598<br />
    E-Mail: roman@bartholemy.de</p>
    
    <p>Quelle: <a class="link" href="https://www.e-recht24.de">e-recht24.de</a></p>
</mat-card-content>
</mat-card>
</div>
