.imprint-text, .headline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    object-fit: contain;
    padding-left: 50px;
    padding-right: 50px;
}

.headline {
    margin-bottom: 16px;
    background-color: lightgray;
}

.main-content {
    height: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    cursor: move;
}

mat-card {
    opacity: 0.9;
}